.zenodo.json       export-ignore
.gitlab-ci.yml     export-ignore

# Cross-platform Python/C/C++/CUDA files must be stored with LF endings.
*.py               text eol=lf
*.pyi              text eol=lf
*.c                text eol=lf
*.cc               text eol=lf
*.cpp              text eol=lf
*.cxx              text eol=lf
*.h                text eol=lf
*.hh               text eol=lf
*.hpp              text eol=lf
*.hxx              text eol=lf
*.tpp              text eol=lf
*.cu               text eol=lf
*.cuh              text eol=lf
