# macOS files
.DS_Store

# binaries
darts/*.so*
darts/*.pyd
darts/*.dll
dist/
sdist/
eggs/
lib/
lib64/
*.egg-info
*.egg
build/
bin/
thirdparty/install

# cache
docs/_build
**/.cache
**/__pycache__/
darts/__pycache__/
models/__pycache__/
**/.cache/

# building info
darts/build_info.txt

# IDE/editor files
.vscode
/.idea/*
*.vim

# Build artifacts
*.exp
*.iobj
*.ipdb
*.lib
*.pdb
*x64*

# Logs
*.log

# Simulation results
results_*/**
*.h5
*.nc
*.npy
*.pkl
*.png
*.xlsx

# Generated VTK/ParaView output files
*.pvd
*.vtk
*.vtp
*.vtu
LGR_kairan/
